# Node Modules
/node_modules

# Build
/build

# Entornos React
/src/environment.js

# Directorios logs y cache
/logs
/npm-debug.log*
/yarn-debug.log*
/yarn-error.log*

# Configuracion sistema
.DS_Store
Thumbs.db

# Temporales
/.idea
/.vscode




